.menu{
    width: 1440px;
    height: 1024px;
    background: linear-gradient(180deg, #28AE96 43.23%, rgba(40, 174, 150, 0.00) 100%);
}
.menu-texto{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.cabecalho{
    width: 1440px;
    height: 190px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(65, 180, 159, 0.08) 0%, rgba(65, 180, 159, 0.00) 100%);
}

.cabecalho-texto{
    display: flex;
    position: absolute;
    top: 130px;
    left: 480px;
    display: flex;
    width: 600px;
height: 142px;
flex-direction: column;
flex-shrink: 0;
color: #000;
text-align: center;
font-size: 36px;
font-family: Inter;
letter-spacing: 3.6px;
}
.corpo{
    display: grid;
    text-align: center;
    grid-template-columns: 30% 30% 30%;
    position: absolute;
    
    width: 1440px;
    height: 640px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #9D1C1C 0%, rgba(157, 28, 28, 0.00) 100%);
}
.corpo-itens{

    text-align: center;
    padding: 16px 0;
}
.corpo-itens-img{
    width: 280px;
}
.rodape{
    width: 1440px;
height: 114px;
flex-shrink: 0;
background: linear-gradient(180deg, rgba(188, 35, 35, 0.00) 0%, #BC2323 100%);
}
.rodape-texto{
    color: #000;
font-size: 20px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 6px;
}